$mainColor: white;
$accentColor: deepPink;
$backgroundColor: #1e1e1e;

body {
  overflow: hidden;
  font-size: 11pt;
  color: $mainColor;
}

a {
  color: $accentColor;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  color: $mainColor;
  overflow: visible;
  cursor: pointer;

  & svg {
    transform: scale(1.0);
    transition: all 250ms ease;
    pointer-events: none;
    margin: 8px;
    fill: currentColor;
  }

  & a {
    display: block;
    color: currentColor;
  }

  &:hover {
    color: $accentColor;

    & svg {
      transform: scale(1.5);
    }
  }

  &:active {
    & svg {
      transform: scale(0.75);
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  padding: 0;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid #4f4f4f;
  margin: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
