@import "main";

.Tile {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  &-NotRead {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 3px;
    transform: scale(0.8) translateY(0.5px);
    background-color: $accentColor;
    @keyframes tilt {
      0% {
        opacity: 1.0;
        transform: scale(1.2) translateY(0.5px);
      }

      25% {
        opacity: 0;
        transform: scale(0.8) translateY(0.5px);
      }

      100% {
        opacity: 1.0;
        transform: scale(1.2) translateY(0.5px);
      }
    }
    animation: tilt 2s ease infinite;
  }

  &-Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1.0;
    transform: scale(1.0);
    transition: all 500ms ease;
  }

  &-BackgroundHover {
    opacity: 0;

    &:hover {
      opacity: 1.0;
      transform: scale(1.5);
    }
  }

  &-Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.90));
  }

  &-Category {
    font-size: 10pt;
    letter-spacing: 1pt;
  }

  &-ContentSep {
    width: 100px;
    margin: 3px auto 0;
    border-bottom: .5px solid currentColor;
  }

  &-Title {
    margin: 12px;
    font-size: 26pt;
    font-weight: 700;
  }

  &-Time {
    font-size: 10pt;
    margin-bottom: 12px;
  }
}
